:root {
  --bg-primary: #fff;
  --bg-accent: hsl(230, 45%, 50%);
  --bg-secondary: #000;
  --text-primary: #333;
  --text-secondary: #999;
  --text-accent: #fff;
  --shadow-color-20: rgb(0 0 0/0.2);
  --shadow-color-30: rgb(0 0 0/0.3);
}

[data-theme="dark"] {
  --bg-primary: #080808;
  /*--bg-accent: hsl(230, 55%, 65%);*/
  --bg-secondary: #222;
  --bg-accent: hsl(240, 45%, 13%);
  --text-primary: #bbb;
  --text-secondary: #555;
  --text-accent: #bbb;
  --shadow-color-20: rgb(255 255 255/0.2);
  --shadow-color-30: rgb(255 255 255/0.3);
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("Rubik-VariableFont_wght.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 1s ease;
}

button {
  outline: none;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;

  min-height: 100vh;
  height: 900px;
  max-width: 100vw;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one {
  background-color: var(--bg-accent);
  height: 330px;
  position: relative;
  box-shadow: 0 0 20px 0 var(--shadow-color-30);
  z-index: 1;
}

.map {
  z-index: 0;
  background-color: #ddd;
  flex: 1;
}

#map {
  transition: filter 0.2s ease;
  &.dark-theme {
    filter: invert(0.9) hue-rotate(180deg) brightness(0.8) contrast(1.2);
  }
}

.theme {
  font-size: 40px;
  position: absolute;
  top: 36px;
  right: 40px;
  height: 1em;
  aspect-ratio: 2;
  border-radius: 1000px;
  background-color: var(--bg-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 20px 0 var(--shadow-color-20);

  transition: background-color 0.2s ease;

  > * {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 1000px;
    margin: auto;

    font-size: 0.6em;
    line-height: 0;
    overflow: visible;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 25%;
    translate: -50% -50%;
    height: 85%;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: rgb(100, 100, 100, 0.6em);
    box-shadow: inset 0 0 10px rgb(100 100 100 / 0.6);

    transition: left 0.2s ease;
  }
  &.shift::after {
    left: 75%;
  }
}

h1 {
  margin-block: 32px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: var(--text-accent);
}

.searchbar,
.tip {
  position: relative;
  left: 50%;
  translate: -50%;
  max-width: 654px;
  width: 654px;
}

.searchbar {
  height: 68px;
  z-index: 4;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.tip {
  color: var(--text-accent);
  margin-top: 10px;
}

.input-wrapper {
  flex: 1;
  padding-left: 28px;
  padding-right: 10px;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-size: 22px;
  color: #444;
  font-weight: 500;
  background-color: transparent;
}

.clear-btn {
  color: var(--text-primary);
  background-color: transparent;
  align-self: center;
  line-height: 1;
  font-weight: 900;
  padding: 8px;
}

.search-btn {
  cursor: pointer;
  border: none;
  background-color: var(--bg-secondary);
  color: var(--text-accent);
  height: 100%;
  aspect-ratio: 1;
  transition: background-color 0.2s ease;
}

.search-btn:hover {
  background-color: rgb(50, 50, 50);
}

.search-btn:active {
  background-color: rgb(90, 90, 90);
}

.main-data-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 50%;
  z-index: 2;

  max-width: 1310px;
  width: 90%;
  padding-block: 44px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--bg-primary);
  box-shadow: 0 0 40px 0px var(--shadow-color-20);
}

.data-holder {
  position: relative;
  height: 102px;
  max-width: 100%;
  min-width: 0;
  padding-inline: 38px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;
    background-color: #ddd;
    width: 1px;
    height: 90px;
  }
}

.data-label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-secondary);
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.data {
  max-width: 100%;
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.05;
  max-height: 2.15em;
  flex: 1;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 1300px) {
  .searchbar,
  .tip {
    width: 70%;
  }
  .main-data-container {
    transform: translateY(15%);
    width: 70%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .data-holder {
    height: auto;
    &:nth-child(odd)::before {
      display: none;
    }
  }
  .data {
    white-space: nowrap;
    line-height: 1.2;
  }
}

@media (width < 850px) {
  body {
    height: 1100px;
  }
  .one {
    height: 450px;
  }
  .searchbar,
  .tip {
    max-width: 500px;
    width: 87%;
  }
  .input {
    font-size: 20px;
  }
  .main-data-container {
    transform: translateY(5%);
    max-width: 500px;
    width: 87%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .data-holder {
    align-items: center;
    text-align: center;
    &::before {
      display: none;
    }
  }
  .data {
    font-size: 30px;
  }
}

@media (width < 660px) {
  .theme {
    font-size: 30px;
    top: 40px;
    right: 4%;
  }
}

@media (width < 570px) {
  body {
    height: 1000px;
  }
  .one {
    height: 330px;
  }
  .theme {
    top: 30px;
    right: 5%;
  }
  h1 {
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 30px;
  }
  .searchbar,
  .tip,
  .main-data-container {
    max-width: 450px;
  }
  .searchbar {
    height: 65px;
    border-radius: 16px;
  }
  .tip {
    font-size: 14px;
  }
  .input-wrapper {
    padding-left: 24px;
    padding-right: 5px;
  }
  .input {
    font-size: 16px;
  }
  .clear-btn {
    font-size: 14px;
  }
  .main-data-container {
    transform: translateY(15%);
    row-gap: 26px;
    padding-block: 28px;
  }
  .data-holder {
    gap: 8px;
  }
  .data-label {
    font-size: 11px;
    font-weight: 700;
  }
  .data {
    font-size: 24px;
  }
}

@media (width < 440px) {
  h1 {
    font-size: 24px;
  }
  .searchbar {
    height: 52px;
    border-radius: 14px;
  }
  .input {
    font-size: 16px;
  }
  .search-btn {
    font-size: 14px;
  }
  .main-data-container {
    transform: translateY(8%);
  }
}
