:root {
  --bg-primary: #fff;
  --bg-accent: hsl(230, 45%, 50%);
  --bg-secondary: #000;
  --text-primary: #333;
  --text-secondary: #999;
  --text-accent: #fff;
}

[data-theme="dark"] {
  --bg-primary: #080808;
  /*--bg-accent: hsl(230, 55%, 65%);*/
  --bg-secondary: #222;
  --bg-accent: hsl(240, 40%, 10%);
  --text-primary: #bbb;
  --text-secondary: #555;
  --text-accent: #bbb;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("Rubik-VariableFont_wght.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;

  min-height: 100vh;
  height: 900px;
  max-width: 100vw;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one {
  background-color: var(--bg-accent);
  height: 330px;
  position: relative;
  box-shadow: 0 0 20px 0 rgb(0 0 0/0.3);
  z-index: 1;
}

.map {
  z-index: 0;
  background-color: #ddd;
  flex: 1;
  /*box-shadow: inset 0 0px 20px rgb(0 0 0 / 0.5);*/
}

#map {
  transition: filter 0.2s ease;
  &.dark-theme {
    filter: invert(0.9) hue-rotate(180deg) brightness(0.8) contrast(1.2);
  }
}

.theme {
  font-size: 40px;
  position: absolute;
  top: 36px;
  right: 40px;
  height: 1em;
  aspect-ratio: 2;
  border-radius: 1000px;
  background-color: var(--bg-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 20px 0 rgb(0 0 0 / 0.2);

  transition: background-color 0.2s ease;

  > * {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 1000px;
    margin: auto;
    /*z-index: 1;*/
    font-size: 0.6em;
    line-height: 0;
    overflow: visible;
    /*background-color: var(--bg-accent);*/

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 25%;
    translate: -50% -50%;
    height: 85%;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: rgb(100, 100, 100, 0.6em);
    box-shadow: inset 0 0 10px rgb(100 100 100 / 0.6);

    transition: left 0.2s ease;
  }
  &.shift::after {
    left: 75%;
  }
}

h1 {
  margin-block: 32px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: var(--text-accent);
}

.searchbar {
  position: relative;
  left: 50%;
  translate: -50%;
  height: 68px;
  max-width: 654px;
  width: 654px;
  z-index: 4;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  outline: none;
  border: none;
  padding-left: 28px;
  font-family: inherit;
  font-size: inherit;
  font-size: 22px;
  color: #444;
  font-weight: 500;
  background-color: var(--bg-primary);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: var(--bg-secondary);
  color: var(--text-accent);
  height: 100%;
  aspect-ratio: 1;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgb(50, 50, 50);
}

.btn:active {
  background-color: rgb(90, 90, 90);
}

.three {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 50%;
  z-index: 2;

  max-width: 1310px;
  width: 90%;
  padding-block: 44px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--bg-primary);
  box-shadow: 0 0 40px 0px rgb(0 0 0 / 0.2);
}

.holder {
  position: relative;
  height: 102px;
  max-width: 100%;
  min-width: 0;
  padding-inline: 38px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;
    background-color: #ddd;
    width: 1px;
    height: 90px;
  }
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-secondary);
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.text {
  max-width: 100%;
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  max-height: 2.1em;
  flex: 1;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 1300px) {
  .searchbar {
    width: 70%;
  }
  .three {
    width: 70%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .holder {
    height: auto;
  }
  .text {
    white-space: nowrap;
    line-height: 1.2;
  }
}

@media (width < 850px) {
  body {
    /*background-image: url(./uitbvuyjrnifyp6q3zuf.jpg);*/
    height: 1100px;
  }
  .one {
    height: 450px;
  }
  .searchbar {
    max-width: 500px;
    width: 87%;
  }
  .three {
    max-width: 500px;
    width: 87%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .holder {
    align-items: center;
    text-align: center;
    &::before {
      display: none;
    }
  }
  .text {
    font-size: 30px;
  }
}

@media (width < 660px) {
  .theme {
    font-size: 30px;
    top: 40px;
    right: 4%;
  }

  /*
  .theme {
    aspect-ratio: 1;
    &::after {
      left: 50%;
      display: none;
    }
  }
  #dark-theme {
    display: none;
  }*/
  /*.theme {
    height: 30px;
    top: 44px;
    right: 5%;
    aspect-ratio: 2;
    &::after {
      display: block;
      left: 25%;
    }
  }
  .dark {
    display: inline-flex;
  }*/
}

/*
@media (width < 540px) {
  .one {
    height: 300px;
  }
  h1 {
    font-size: 28px;
    margin-block: 25px;
  }
  .four {
    height: 60px;
    background-color: transparent;
  }
  .input {
    font-size: 18px;
  }
  .three {
    translate: -50% 55%;
    row-gap: 25px;
    padding-block: 25px;
  }
  .holder {
    gap: 10px;
  }
  .label {
    font-size: 10px;
    font-weight: 700;
  }
  .text {
    font-size: 20px;
  }
}
*/

@media (width < 540px) {
  body {
    height: 1000px;
  }
  .one {
    height: 330px;
  }
  .theme {
    top: 30px;
    right: 5%;
  }
  /*#dark-theme {
    display: inline-flex;
  }*/
  h1 {
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 30px;
  }
  .searchbar {
    max-width: 400px;
    height: 65px;
  }
  .input {
    padding-left: 24px;
    font-size: 20px;
  }
  .three {
    max-width: 400px;
    translate: -50% 56%;
    row-gap: 26px;
    padding-block: 28px;
  }
  .holder {
    gap: 8px;
  }
  .label {
    font-size: 11px;
    font-weight: 700;
  }
  .text {
    font-size: 24px;
  }
}
